
#navbar {
  background-color: #2E315C !important;
  color: white !important;
}

#navbar a {
  color: white !important;
}

.dark #navbar {
  background-color: #2E315C ; /* Replace with your preferred hex code */
  color: white;
}

.data-\[is-opaque\=true\]\:bg-background-light[data-is-opaque="true"] {
  background-color: #2e315c !important;
}

#content-area
  > div.left-0.right-0.sticky.sm\:px-4.pb-4.sm\:pb-6.bottom-0.pt-1.flex.flex-col.items-center.w-full.overflow-hidden.z-20.pointer-events-none {
  display: none;
}